<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <button
    (click)="topFunction()"
    id="myBtn"
    title="Go to top"
    style="display: block"
  >
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-md-6 col-sm-12 video-thumbnail">
          <div>
            <img src="/src/assets/Images/home.png" alt="image" />
          </div>
        </div>
        <div class="col-md-6 col-sm-12 inner-content">
          <h3>Professional & Quality HR Services</h3>
          <p class="text2">
            Human Resources consultant or small HR consulting consectetur adipi
            scing elit, sed do eiusmod tempor incididunt ut labore
          </p>
          <a
            (click)="topFunction()"
            class="btn btn-primary"
            role="button"
            aria-pressed="true"
            >get started</a
          >
        </div>
      </div>
    </div>
  </header>
  <!-- Modal Box Ended -->

  <div class="video">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            <img src="/src/assets/images/about.png" alt="" />
            <h5>How To Manage All Services Of Employees !</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna morbi Lorem
              ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem
              convallis morbi Lorem ipsum dolor sit amet adipiscing eliturna.
              consectetur adipiscing eliturna. Lorem convallis morbi Lorem ipsum
              dolor sit psum dolor sit amet, consectetur adipi scing elit, sed
              do eiusmorbi Lorem ipsum dolor sit consectetur adipiscing
              eliturna.
            </p>
            <a
              (click)="topFunction()"
              class="btn btn-secondary btn-lg active"
              role="button"
              aria-pressed="true"
              >view services</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="client">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="logos">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-1.jpg" alt="client" />
              </div>
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-2.jpg" alt="client" />
              </div>
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-3.jpg" alt="client" />
              </div>
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-4.jpg" alt="client" />
              </div>
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-5.jpg" alt="client" />
              </div>
              <div class="col-md-2 col-sm-2 col-12 logo">
                <img src="assets/Images/logo-6.jpg" alt="client" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5 address">
          <!-- Content -->
          <p>
            4th Floor, Amira Building, 123 North Side Street, Cairo, Egypt -
            45678
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">
          <ul>
            <li>
              <a class="nav-link" (click)="topFunction()">Home</a>
            </li>
            <li>
              <a class="nav-link" (click)="topFunction()">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="topFunction()">Services</a>
            </li>
          </ul>
          <!-- Copyright -->
          <div class="footer-copyright">
            (C) 2023. All Rights Resreved. Designed by Our Team
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/custom.js"></script>
</div>
